@use "../abstract/mixins" as *;
@use "../abstract/functions" as *;

%full-width-block {
  display: block;
  width: 100%;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background: rgba(245, 245, 245, 0.8);
  z-index: 100;

  display: block;
  width: 100%;
  &.sticky {
    position: fixed;
    animation: header-effect 0.4s ease-in-out;
    background: get-colors(color-white);
  }
  &-nav-main {
    display: none;
    width: 100%;
    @include respond-up(xl) {
      @include flexBox(row, space-between, center);
    }
  }
  .btn_toggle {
    background: transparent;
    margin: 10px;
    margin-right: 0px;
    i {
      &::before {
        font-size: 25px;
      }
    }
  }
}

.mobile {
  &-logo {
    max-width: 220px;
  }
  &-aside {
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    width: 300px;
    max-width: 100%;
    top: 0px;
    bottom: 0px;
    right: 0px;
    position: fixed;
    z-index: 99;
  }
  &-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    background: rgba(0, 0, 0, 0.4);
    transform: translateX(101%);
    transition: all 0.4s ease-in-out;
  }
  &-content {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    max-width: 280px;
    height: 100%;
    background: get-colors(color-white);
    transform: translateX(101%);
    transition: all 0.4s ease-in-out;
    transition-delay: 0.5s;

    .btn_close {
      display: block;
      background: get-colors(color-primary);
      padding: 10px;
      top: 0px;
      z-index: 10;
      transform: translateX(-100%);
      font-weight: bold;
    }
  }
  &-nav {
    @extend %full-width-block;
    ul,
    ul > li,
    ul > li > a {
      @extend %full-width-block;
    }
    li {
      a {
        padding: 15px;
      }
      &:not(:last-child) {
        a {
          border-bottom: 1px solid #ddd;
        }
      }
    }
  }
}

.mobile-visible {
  overflow: hidden;
  .mobile-backdrop {
    transform: translateX(0%);
  }
  .mobile-aside {
    visibility: visible;
    opacity: 1;
  }
  .mobile-content {
    transform: translate(0%);
  }
}
